<html>
	<head>
		<title>Testing ansible automation</title>
		<link rel=stylesheet href=styles/style.css>
		<meta charset=utf-8>
        <body>
		<center>
			<br><br><br><br> 
			<br><br><br><br> 
			<h2>This webserver configured by</h2>
<br><br><br>
<br><br><br>
<br><br><br>
 <div id="ui">
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
    <div class="text">ANSIBLE</div>
  </div>

<br><br><br>
<br><br><br>
<br><br><br>
<h2 class=c00lHeader> Server hostname: {{ ansible_hostname }}></h2><br>
<h2 class=c00lHeader>Server OS: {{ ansible_os_family  }}<br>
<h2 class=c00lHeader>Server owner: {{ owner }}

<img src=testpic1.png>
	</body>
</html>
